process {
  config_profile_name = 'Curta cluster profile'
  config_profile_description = 'Profile for the FU Curta cluster.'
  queue = 'begendiv,main'
  clusterOptions = '--qos=standard'
  cpus = 1
  memory = '4 GB'
  time = '2h'

  withLabel: 'RAM_high' {
    cpus = 1
    memory = '32 GB'
    time = '11h'
  }
}

executor {
    name = 'slurm'
    queueSize = 20
}
